<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guna.todayschedule">

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".TodaySchedule" android:label="TodaySchedule">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_meta"/>
        </receiver>
    </application>

</manifest>
